body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor {
    padding: 30px 100px;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.icono {
    font-size: 40px;
    color: #f00
}

.icono-google {
    transform: scale(1.7);
    color: #f00;
}